<div class="main-content">
  <div class="container-fluid">
    <div class="row GridView">
      <div class="col-sm-12">
        <div class="card">

          <div class="card-header">
            <div class="col-md-8">
              <button mat-raised-button routerLink="/guardian/new"
                color="standard">Add
                Guardian</button>
            </div>
            <div class="input-group col-md-4">
              <input type="text" class="form-control" placeholder="Search"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2" (keyup)="applyFilter($event)">
              <span class="input-group-text" id="basic-addon2">
                <mat-icon matSuffix color="standard">find_in_page_sharp
                </mat-icon>
              </span>
            </div>
          </div>
          <div class="card-body">
            <div class="mat-elevation-z8">
              <mat-progress-bar mode="indeterminate" *ngIf="isLoading">
              </mat-progress-bar>

              <table mat-table class="full-width-table"
                [dataSource]="dataSource" matSort aria-label="Elements">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Id
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>

                <!-- nationality_Id Column -->
                <ng-container matColumnDef="nationality_Id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    nationality Id
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.nationality_Id}}
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="full_Name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Name
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.full_Name}}</td>
                </ng-container>

                <!-- phone Column -->
                <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.phone}}</td>
                </ng-container>

                <!-- email Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Email
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.email}}</td>
                </ng-container>

                <!-- school_Name Column -->
                <ng-container matColumnDef="school_Id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>school
                    Id</th>
                  <td mat-cell *matCellDef="let row">{{row.school_Id}}</td>
                </ng-container>

                <!--Edit Button-->
                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEditGuardian(row)">
                      <mat-icon class="mat-18" color="primary">edit</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <!--delete Button-->
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onDeleteGuardian(row)">
                      <mat-icon class="mat-18" color="warn">delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="onClickedRow(row)"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[7, 10, 20]"
                showFirstLastButtons (page)="pageChanged($event)"
                [pageSize]="guardianParams.Pagination.itemsPerPage"
                [length]="guardianParams.Pagination.totalItems"
                [pageIndex]="guardianParams.Pagination.currentPage "
                aria-label="Select page of periodic elements">
              </mat-paginator>

              currentPage : {{guardianParams.Pagination.currentPage}} -
              totalItems :
              {{guardianParams.Pagination.totalItems}} - itemsPerPage :
              {{guardianParams.Pagination.itemsPerPage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
