<div class="main-content">
  <div class="container-fluid">
    <div class="row GridView">
      <div class="col-sm-12">
        <div class="card">

          <div class="card-header">
            <div class="col-md-8">
              <button mat-raised-button routerLink="/student/new"
                color="standard">
                Add Student
              </button>
            </div>
            <div class="input-group col-md-4">
              <input type="text" class="form-control" placeholder="Search"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2" (keyup)="applyFilter($event)">
              <span class="input-group-text" id="basic-addon2">
                <mat-icon matSuffix color="standard">find_in_page_sharp
                </mat-icon>
              </span>
            </div>
          </div>

          <div class="card-body col-xs-12">
            <div class="mat-elevation-z8 ">
              <mat-progress-bar mode="indeterminate" *ngIf="isLoading">
              </mat-progress-bar>

              <table mat-table class="data-table full-width-table"
                [dataSource]="dataSource" matSort aria-label="Elements">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                  <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>

                <!-- personalImage Column -->
                <ng-container matColumnDef="personalImage">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Image
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <app-image [id]="row.id" [IMGType] ="0"></app-image>
                  </td>
                </ng-container>

                <!-- national_Number Column -->
                <ng-container matColumnDef="national_Number">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    nationalNumber
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.national_Number}}
                  </td>
                </ng-container>

                <!-- full_Name Column -->
                <ng-container matColumnDef="full_Name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Name
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.full_Name}}</td>
                </ng-container>

                <!-- guardian_Name Column -->
                <ng-container matColumnDef="guardian_Name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Guardian
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.guardian_Name}}</td>
                </ng-container>

                <!-- phone Column -->
                <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.phone}}</td>
                </ng-container>

                <!-- email Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Email
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.email}}</td>
                </ng-container>

                <!-- school_Name Column -->
                <ng-container matColumnDef="school_Name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    SchoolName
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.school_Name}}</td>
                </ng-container>

                <!-- birthDate Column -->
                <ng-container matColumnDef="birthDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    BirthDate
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.birthDate |date}}
                  </td>
                </ng-container>

                <!-- full_Address Column -->
                <ng-container matColumnDef="full_Address">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Address
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.full_Address}}</td>
                </ng-container>

                <!--Edit Button-->
                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEditStudent(row)">
                      <mat-icon class="mat-18" color="primary">edit</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <!--Delete Button-->
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onDeleteStudent(row)">
                      <mat-icon class="mat-18" color="warn">close</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row matRipple
                  *matRowDef="let row; columns: displayedColumns;"
                  (click)="onClickedRow(row)"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[7, 10, 20]"
                showFirstLastButtons (page)="pageChanged($event)"
                [pageSize]="studentParams.Pagination.itemsPerPage"
                [length]="studentParams.Pagination.totalItems"
                [pageIndex]="studentParams.Pagination.currentPage "
                aria-label="Select page of periodic elements">
              </mat-paginator>

              <!-- test paging-->
              <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_full_numbers"
                  id="datatables_paginate">
                  <ul class="pagination">
                    <li class="paginate_button page-item first disabled"
                      id="datatables_first"><a href="#"
                        aria-controls="datatables" data-dt-idx="0" tabindex="0"
                        class="page-link">First</a></li>
                    <li class="paginate_button page-item previous disabled"
                      id="datatables_previous"><a href="#"
                        aria-controls="datatables" data-dt-idx="1" tabindex="0"
                        class="page-link">Previous</a></li>

                    <li class="paginate_button page-item active"><a href="#"
                        aria-controls="datatables" data-dt-idx="2" tabindex="0"
                        class="page-link">1</a></li>
                    <li class="paginate_button page-item "><a href="#"
                        aria-controls="datatables" data-dt-idx="3" tabindex="0"
                        class="page-link">2</a></li>
                    <li class="paginate_button page-item "><a href="#"
                        aria-controls="datatables" data-dt-idx="4" tabindex="0"
                        class="page-link">3</a></li>
                    <li class="paginate_button page-item "><a href="#"
                        aria-controls="datatables" data-dt-idx="5" tabindex="0"
                        class="page-link">4</a></li>

                    <li class="paginate_button page-item next"
                      id="datatables_next"><a href="#"
                        aria-controls="datatables" data-dt-idx="6" tabindex="0"
                        class="page-link">Next</a></li>
                    <li class="paginate_button page-item last"
                      id="datatables_last"><a href="#"
                        aria-controls="datatables" data-dt-idx="7" tabindex="0"
                        class="page-link">Last</a></li>
                  </ul>
                </div>
              </div>
            </div>


          </div>
              currentPage : {{studentParams.Pagination.currentPage}} -
              totalItems
              :
              {{studentParams.Pagination.totalItems}} - itemsPerPage :
              {{studentParams.Pagination.itemsPerPage}}


          </div>
        </div>
      </div>
    </div>
  </div>
