.main-content{
  background-color: #eee;
  height: 100%;
  width: 100%;
}

// .GridView {
  //   background-color: #fff;
  //   margin: 1px auto 1px auto;
  //   box-sizing: border-box;
  //   // border-radius: 0.4rem;
  //   box-shadow: 2px 2px #888888;
  //   width: 100%;
  // }

  .filter {
    padding: 0px;
    margin-top: 15px;
    width: 100%;
    font-size: 0.9em;
  }

.card {
  margin: 0px;
  margin-top: 0px;
  // border: 1px solid #eeeeee;
  border-radius: 0.25rem;
  background-color: #fff;
  background-clip: border-box;
  color: #333333;
  font-size: 0.875rem;
  width: 100%;
  min-width: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap:break-word;
  box-shadow: 0 2px 2px 0 rgba(46, 46, 46, 0.14),
  0 3px 1px -2px rgb(0 0 0 / 20%),
  0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card .card-header {
  background: linear-gradient(60deg, #ef5350, #e53935);
  // background: white;
  border-radius: 3px;
  margin: 10px 10px 0px 10px;
  padding: 15px;
  border-bottom: none;
  position: relative;
  z-index: 3  ;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: azure;
  height: 6rem;

  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(244 67 54 / 40%);

}
.card.card-body{
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}


.data-table {
  width: 100%;
  line-height: 0.5rem;
}

.mat-column-delete{
  width: 0px;
  margin: 0px;
  padding:0px ;
}

.mat-column-edit{
  width: 0px;
  margin: 0px;
  padding:0px ;
}

.mat-header-cell {
  color: #9c27b0 !important;
  font-size: 1rem !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
  font-weight: 500;
  border-top-width: 0;
  border-bottom-width: 1px;
  padding-left: 2.5rem;
  height: 1.5rem;
}

.mat-cell {
  font-size: 0.9rem !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
  // color: black;
  vertical-align: middle;
  padding: 5px 5px  !important;
  font-weight: 400;
  border-top-width: 0;
  border-bottom-width: 1px;
  vertical-align: middle;
  margin: 5px;
}

.mat-column-personalImage.card{
  width: 50px;
  height: 50px;
  margin: 5px auto 5px auto;
  border-radius: 50%;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0px;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding: 0px;
  margin: 0px;
}
th.mat-header-cell.edit, td.mat-cell.edit, td.mat-footer-cell.edir {
  padding:0px;
  margin: 0px;

}

::ng-deep .mat-paginator-page-size-select {
  width: 27px!important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}

::ng-deep .mat-select-value {
color: #005999;
  font-weight: bold;
  font-size: 13px;
  // border: 1px solid red!important;
}
::ng-deep .mat-select-arrow {
  color: #005999;
}
::ng-deep .mat-option{
padding: 0!important;

}
::ng-deep {
  .mat-select-panel[aria-label="Items per page:"] {
    .mat-option-text {
      font-size: 1.4rem;
    }
  }
}






// .btn-bwm {
//   background-color: #f44336;
//   border-color: #f44336;
//   color: white;
//   padding: 15px 30px;
//   font-size: 20px;

//   &:hover,
//   &:focus,
//   &:active {
//     border-color: #f44336;
//     background-color: #f44336;
//   }
// }


// .header {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   flex-wrap: nowrap;
//   align-items: center;
//   vertical-align: middle;
//   margin: 0.1rem;
//   box-shadow: 1px 1px #888888;
// }

// pagination {
//   display: -webkit-box;
//   display: flex;
//   padding-left: 0;
//   list-style: none;
//   border-radius: 0.25rem;
// }
// // <!-- next-->
// .pagination .paginate_button a, .pagination>.page-item>.page-link.mat-button, .pagination>.page-item>span {
//   border: 0;
//   border-radius: 30px!important;
//   -webkit-transition: all .3s;
//   transition: all .3s;
//   padding: 0 11px;
//   margin: 0 3px;
//   min-width: 30px;
//   height: 30px;
//   line-height: 30px;
//   color: #999;
//   font-weight: 400;
//   font-size: 12px;
//   text-transform: uppercase;
//   background: transparent;
//   text-align: center;
// }

// // .pagination .paginate_button a {
// //   position: relative;
// //   display: block;
// // }

// //@last page
// // .pagination>.page-item>span {
// //   border: 0;
// //   border-radius: 30px!important;
// //   -webkit-transition: all .3s;
// //   transition: all .3s;
// //   padding: 0 11px;
// //   margin: 0 3px;
// //   min-width: 30px;
// //   height: 30px;
// //   line-height: 30px;
// //   color: #999;
// //   font-weight: 400;
// //   font-size: 12px;
// //   text-transform: uppercase;
// //   background: transparent;
// //   text-align: center;
// // }

// //@Active Page
// .pagination .paginate_button.active a, .pagination .paginate_button.active a:focus, .pagination .paginate_button.active a:hover, .pagination>.page-item.active>a.mat-button, .pagination>.page-item.active>a.mat-button:focus, .pagination>.page-item.active>a.mat-button:hover, .pagination>.page-item.active>span, .pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover {
//   background-color: #9c27b0;
//   border-color: #9c27b0;
//   color: #fff;
//   box-shadow: 0 4px 5px 0 rgb(156 39 176 / 14%), 0 1px 10px 0 rgb(156 39 176 / 12%), 0 2px 4px -1px rgb(156 39 176 / 20%);
// }



// .pagination .paginate_button a {
//     position: relative;
//     display: block;
// }

// //@ Page link 1-2-3-4-5-6
// // .pagination .paginate_button a, .pagination>.page-item>.page-link.mat-button, .pagination>.page-item>span {
// //     border: 0;
// //     border-radius: 30px!important;
// //     -webkit-transition: all .3s;
// //     transition: all .3s;
// //     padding: 0 11px;
// //     margin: 0 3px;
// //     min-width: 30px;
// //     height: 30px;
// //     line-height: 30px;
// //     color: #999;
// //     font-weight: 400;
// //     font-size: 12px;
// //     text-transform: uppercase;
// //     background: transparent;
// //     text-align: center;
// // }

// ul {
//   margin: 2px 0;
//   white-space: nowrap;
//   -webkit-box-pack: end;
//   justify-content: flex-end;
//   // display: block;
//   // list-style-type: disc;
//   // margin-block-start: 1em;
//   // margin-block-end: 1em;
//   // margin-inline-start: 0px;
//   // margin-inline-end: 0px;
//   // padding-inline-start: 40px;
// }
