<div class="container-fluid">

  <div class="row GridView">


    <div class="mat-filter col-md-12 row">
      <div class="col-md-8">

      </div>
      <div class=" col-md-4">
        <mat-form-field appearance="legacy">
          <mat-label>Filter</mat-label>
          <input class="form-control" matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
          <mat-icon matSuffix>find_in_page_sharp</mat-icon>
        </mat-form-field>
      </div>
    </div>




    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <table mat-table [dataSource]="dataSource" matSort class="data-table">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
          </ng-container>

          <ng-container matColumnDef="schoolImage">
            <th mat-header-cell *matHeaderCellDef>Logo</th>
            <td mat-cell *matCellDef="let row"> <img [src]="row.schoolImage ?? '/assets/images/empty_image.png'"
                class="rounded" [alt]="row.school_Name"></td>
          </ng-container>

          <ng-container matColumnDef="school_Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>School</th>
            <td mat-cell *matCellDef="let row">{{row.school_Name}}</td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>address</th>
            <td mat-cell *matCellDef="let row">{{row.address}}</td>
          </ng-container>

          <ng-container matColumnDef="manager">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>manager</th>
            <td mat-cell *matCellDef="let row">{{row.manager}}</td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>phone</th>
            <td mat-cell *matCellDef="let row">{{row.phone}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
          </tr>
          <tr class=" mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>


        </table>

        <mat-paginator
        [pageSizeOptions]="[7, 10, 20]"
        showFirstLastButtons
        (page)="pageChanged($event)"
        [pageSize]="Paginations.itemsPerPage"
        [length]="totalitem"
        [pageIndex]="Paginations.currentPage "
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>

      currentPage : {{Paginations.currentPage}} - totalItems : {{Paginations.totalItems}} - itemsPerPage : {{Paginations.itemsPerPage}}


    </div>

  </div>

</div>
