
<!-- <p>google-map works!</p> -->
<div id="map" style="float:left;width:100%;height:100%"></div>
<div id="directionsPanel" style="float:right;width:30%;height:100%"></div>

<!-- <agm-map  mapTypeControl="satellite"
                  [latitude]="student.lat? student.lat :lat"
                  [longitude]="student.lng? student.lng :lng"
                  (mapClick)="mapClicked($event)"
                  [zoom]="zoom">
                    <agm-marker draggable="true"
                      [latitude]='student.lat'
                      [longitude]='student.lng'
                      [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                  </agm-map> -->



                  <!-- <agm-map [zoom]="5" [latitude]="lat" [longitude]="lng"> </agm-map> -->


